.cms {
  padding: 50px 0;
  max-width: 1100px;
  margin: 0 auto;

}

.cms__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6e6893;
}

.cms__title-wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 7px;
  border-bottom: 1px solid #c6c2de;
  margin-bottom: 20px;
  align-items: center;
}

.cms__content-wrapper {
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.cms__header {
  padding: 15px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}


.cms__header-form {
  margin-right: auto;
  flex-basis: 392px;
  position: relative;
}

.cms__header-filter {
  border: 1px solid #c6c2de;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  color: #25213b;
  padding: 10px 10px 10px 40px;
  background-image: url("../assets/images/icons/filter.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 50%;
}

.cms__header-search {
  border: none;
  border-radius: 6px;
  background: #f4f2ff;
  padding: 11px 13px 11px 40px;
  width: 100%;
}

.cms__header-search::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #6e6893;
}

.cms__header-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 10px;
  top: 10px;
}

.cms__header-modal {
  border-radius: 6px;
  background: #6d5bd0;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
}

.table-wrapper {
  overflow-x: auto;
}

.cms__table {
  background: #fff;
  text-align: left;
  min-width: 1100px;
  border-collapse: collapse;
}



.table__head-row,
.table__body-row:not(:last-child) {
  border: 1px solid #d9d5ec;
  border-left: none;
  border-right: none;
}


.table__head,
.cms__footer {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #6e6893;
  background: #f4f2ff;
}

.table__head-cell,
.cms__footer {
  padding: 15px;
}

.table__head-cell {
  text-transform: uppercase;
}

.table__body-data {
  font-weight: 500;
  font-size: 14px;
  color: #25213b;
  padding: 18px 15px;
}

.table__head-cell_text_center,
.table__body-data_text_center {
  text-align: center;
}

.table__body-data_type_unit {
  color: #6e6893;
}


.table__body-buttons {
  display: flex;
  justify-content: flex-end;
  border: none;
  gap: 20px;
}

.cms__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 37px;
}

.cms__select {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 12px;
  color: #6e6893;
}

.cms__button-left {
  margin-right: 50px;
}

@media (max-width: 690px) {

  .cms__header-filter,
  .cms__header-form,
  .cms__header-modal {
    flex-basis: 100%;
  }

  .cms__header-filter {
    padding: 10px;
  }
}

@media (max-width: 480px) {

  .cms__footer {
    justify-content: space-between;
    gap: 10px;
  }

  .cms__button-left {
    margin-right: 30px;
  }

  .cms__select-label {
    display: none;
  }
}