html {
  box-sizing: border-box;
  position: relative;
}

* {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #F2F0F9;

}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
ul,
body,
fieldset,
figure,
figcaption {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  transform: scale(0);
}

.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}